.social-media p a {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}
.social-media p a span {
  color: #4d4d4d;
}
.social-media p a:hover {
  background: #fc7fb2;
  border-color: #fc7fb2;
}
.social-media p a:hover span {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .social-media p a {
    border-color: #fff;
    width: 30px;
    height: 30px;
  }
  .social-media p a span {
    color: #fff;
  }
}
.social-media[data-color="#fff"] p a {
  color: #fff;
}
.social-media p a:not(:last-child) {
  margin-right: 10px;
}

.social-media {
  margin-bottom: 10px;
}
