.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ms-pe-none {
  pointer-events: none;
}
.ms-pe-auto {
  pointer-events: auto;
}
.ms-pr {
  position: relative;
}
.ms-pa {
  position: absolute;
}
.ratio::before {
  background-color: #d2d2d3;
}
.ratio-3x4 {
  --bs-aspect-ratio: calc(4 / 3 * 100%);
}
.ms-section-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: #000;
  margin-bottom: 10px;
}
.ms-section-subheading {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 30px;
  color: #868686;
}
