.breadcrumb.ondark .breadcrumb-item {
  color: #000;
}
.ms-shoppage .breadcrumb.ondark .breadcrumb-item::before {
  color: #000;
  opacity: 0.6;
}
.ms-shoppage .breadcrumb.ondark a {
  color: inherit;
  opacity: 0.75;
}
.ms-shoppage .breadcrumb.ondark a:hover {
  opacity: 1;
}
.ms-shoppage .menu-category {
  margin: 0;
  padding: 0;
}
.ms-shoppage .menu-category li {
  position: relative;
  display: block;
  border-bottom: 1px solid #dee2e6;
}
.ms-shoppage .menu-category li:last-child {
  border-bottom: 0;
}
.ms-shoppage .menu-category a {
  color: #212529;
}
.ms-shoppage .menu-category > li > a {
  display: block;
  padding: 10px 18px;
}
.ms-shoppage .menu-category .submenu {
  display: none;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 20;
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  background: #fff;
}
.ms-shoppage .menu-category .submenu li {
  list-style: none;
}
.ms-shoppage .menu-category .submenu li a {
  padding: 10px 16px;
  display: block;
}
.ms-shoppage .menu-category li:hover {
  background: #f8f9fa;
  transition: all 0.3s;
}
.ms-shoppage .menu-category li:hover .submenu {
  display: block;
  margin-left: 0px;
}
.ms-shoppage .menu-category .has-submenu > a:after {
  content: "›";
  font-size: 24px;
  color: #999;
  line-height: 18px;
  font-weight: bold;
  float: right;
}
.ms-shoppage .card.card-product-grid,
.card.card-product-list {
  box-shadow: 0 1px 2px rgba(51, 51, 51, 0.07);
}
.ms-shoppage .card.card-product-grid:hover,
.card.card-product-list:hover {
  box-shadow: 0 3px 10px rgba(51, 51, 51, 0.1);
  transition: 0.2s;
}
.ms-shoppage .card.card-product-grid .img-wrap {
  border-radius: 0.25rem 0.25rem 0 0;
}
.ms-shoppage [class*="card-product"] p {
  margin-bottom: 0;
}
.ms-shoppage [class*="card-product"] a.title {
  display: block;
  text-decoration: none;
}
.ms-shoppage [class*="card-product"] a.title:hover {
  color: #0d6efd;
}
.ms-shoppage [class*="card-product"] .price {
  color: #212529;
}
.ms-shoppage [class*="card-product"] .price-old {
  color: #9da1a7;
  margin-left: 3px;
  font-size: 90%;
}
.ms-shoppage [class*="card-product"] .img-wrap {
  position: relative;
}
.ms-shoppage [class*="card-product"] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ms-shoppage .card-product-grid {
  margin-bottom: 20px;
}
.ms-shoppage .card-product-grid .img-wrap {
  height: 240px;
}
.ms-shoppage .card-product-grid .title {
  color: #51585e;
}
.ms-shoppage .card-product-grid .info-wrap {
  padding: 1rem 1.2rem;
  overflow: hidden;
}
.ms-shoppage .card-product-grid .bottom-wrap {
  padding: 1rem 1.2rem;
  border-top: 1px solid #dee2e6;
}
.ms-shoppage .card-product-grid .topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: left;
  padding: 10px 15px;
}
.ms-shoppage .card-product-grid .hover-action {
  opacity: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
.ms-shoppage .card-product-grid:hover .hover-action {
  opacity: 1;
}
.ms-shoppage .card-product-list {
  margin-bottom: 20px;
}
.ms-shoppage .card-product-list .title {
  color: #212529;
}
.ms-shoppage .card-product-list .img-wrap {
  height: 220px;
  padding: 0.5rem;
}
.ms-shoppage .card-product-list .info-aside {
  padding: 1.25rem 1.25rem;
  border-left: 1px solid #dee2e6;
  height: 100%;
}
.ms-shoppage .product-sm .img-wrap {
  height: 160px;
}
.ms-shoppage .product-lg .img-wrap {
  height: 250px;
}
.ms-shoppage .card-banner {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 0.35rem;
}
.ms-shoppage .card-banner .card-body {
  background-size: cover;
  position: relative;
  z-index: 10;
}
.ms-shoppage .card-banner .caption {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  color: #fff;
}
.ms-shoppage .card-banner .caption.bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.ms-shoppage .card-banner .caption.top {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.ms-shoppage .card-banner .caption.left {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.ms-shoppage .card-banner .text-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0 0 0.35rem 0.35rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  color: #fff;
}
.ms-shoppage .card-banner .img-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  max-width: 100%;
}
.ms-shoppage .icontext {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.ms-shoppage .icontext p {
  margin-bottom: 0;
}
.ms-shoppage .icontext .text {
  width: 100%;
  line-height: 1.25;
}
.ms-shoppage .icontext .icon {
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
  flex-grow: 0;
}
.ms-shoppage .icontext .title {
  display: block;
  margin-bottom: 3px;
}
.ms-shoppage .tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 1rem;
  margin-bottom: 5px;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  margin-top: 4px;
  margin-right: 2px;
  font-size: 90%;
}
.ms-shoppage .tag .btn-close {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 10px;
}
.ms-shoppage strong.price,
b.price,
.b.price,
.fw-bold.price {
  color: #212529;
}
.ms-shoppage .notify {
  position: absolute;
  top: -4px;
  right: -10px;
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: #fff;
  background-color: #ff2748;
}
.ms-shoppage .img-avatar {
  border-radius: 100%;
  border: 1px solid rgba(33, 37, 41, 0.2);
}
.ms-shoppage .card-header .title {
  margin-bottom: 0;
  color: initial;
  display: block;
}
.ms-shoppage .icon-control {
  margin-top: 6px;
  float: right;
  font-size: 84%;
  color: #9da1a7;
}
.ms-shoppage .filter-group {
  border-bottom: 1px solid #dee2e6;
}
.ms-shoppage .filter-group:last-child {
  border-bottom: 0;
}
.ms-shoppage .filter-group .card-header {
  border-bottom: 0;
  border-radius: 0;
}
.ms-shoppage .filter-group .title:hover {
  text-decoration: none;
}
.ms-shoppage .text-divider {
  text-align: center;
  display: flex;
  font-size: 0.875rem;
  color: #9da1a7;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.ms-shoppage .text-divider:after,
.text-divider:before {
  content: "";
  height: 1px;
  background: #dee2e6;
  flex: 1;
  margin: 0 7px;
}
.ms-shoppage .box {
  padding: 0.8rem;
  border-radius: 0.35rem;
  border: 1px solid #dee2e6;
}
.ms-shoppage .box img {
  max-width: 100%;
}
.ms-shoppage .label-rating {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.ms-shoppage .rating-stars {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}
.ms-shoppage .rating-stars i {
  font-size: 14px;
  color: #ccc;
  display: inline;
}
.ms-shoppage .rating-stars img {
  height: 16px;
  max-width: none;
}
.ms-shoppage .rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}
.ms-shoppage .rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.ms-shoppage .rating-stars li.stars-active i {
  color: orange;
}
.ms-shoppage .rating-stars.stars-lg img {
  height: 20px;
  max-width: none;
}
.ms-shoppage .form-check .rating-stars {
  transform: translateY(-2px);
}
.ms-shoppage .dot {
  font-style: normal;
  opacity: 0.5;
}
.ms-shoppage .dot:after {
  content: "•";
  display: inline-block;
}
.ms-shoppage .bg-loading {
  position: static;
  margin-right: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-animation: placeholderSkeleton 2s linear;
  animation: placeholderSkeleton 2s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.08) 0,
    rgba(0, 0, 0, 0.15) 15%,
    rgba(0, 0, 0, 0.08) 30%
  );
  background-size: 800px 100%;
  max-width: 30rem;
}
@-webkit-keyframes placeholderSkeleton {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
@keyframes placeholderSkeleton {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
.ms-shoppage .steps-vertical {
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 2px solid #0d6efd;
  margin-left: 12px;
  position: relative;
}
.ms-shoppage .steps-vertical li {
  padding-left: 30px;
  position: relative;
  transform: translateY(-4px);
}
.ms-shoppage .steps-vertical .icon {
  position: absolute;
  top: 3px;
  left: -8px;
  content: "";
  background: #0d6efd;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  display: inline-block;
}
.ms-shoppage .breadcrumb.steps {
  margin-bottom: 0;
  color: #0d6efd;
}
.ms-shoppage .breadcrumb.steps a {
  color: inherit;
}
.ms-shoppage .breadcrumb.steps .breadcrumb-item.active {
  font-weight: 600;
  color: #212529;
}
.ms-shoppage .breadcrumb.steps .breadcrumb-item.active ~ .breadcrumb-item {
  color: #9da1a7;
  opacity: 0.8;
}
.ms-shoppage .breadcrumb.steps.ondark .breadcrumb-item.active {
  color: #fff;
}
.ms-shoppage
  .breadcrumb.steps.ondark
  .breadcrumb-item.active
  ~ .breadcrumb-item {
  color: #fff;
  opacity: 0.5;
}
.ms-shoppage .steps-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  position: relative;
  display: flex;
  border-radius: 30px;
}
.ms-shoppage .steps-wrap .step {
  width: 100%;
  text-align: center;
  position: relative;
  flex-grow: 1;
  font-size: 14px;
  line-height: 24px;
}
.ms-shoppage .steps-wrap .step:before {
  background-color: #ccd1d6;
  height: 4px;
  position: absolute;
  content: " ";
  width: 100%;
  right: 50%;
  top: 10px;
}
.ms-shoppage .steps-wrap .step:first-child:before {
  display: none;
}
.ms-shoppage .steps-wrap .icon {
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  text-align: center;
  background: #ccd1d6;
}
.ms-shoppage .steps-wrap .text {
  display: block;
  padding-top: 5px;
  text-align: center;
  color: #9da1a7;
}
.ms-shoppage .steps-wrap .step.active .icon {
  background: #00a524;
  color: #fff;
}
.ms-shoppage .steps-wrap .step.active .text {
  color: #9da1a7;
}
.ms-shoppage .steps-wrap .step.active:before {
  background: #00a524;
}
.ms-shoppage .steps-wrap .step.active:after {
  background: #00a524;
  height: 4px;
  position: absolute;
  content: " ";
  z-index: 5;
  width: 50%;
  right: 0%;
  top: 10px;
}
.ms-shoppage .steps-wrap .step.active:last-child:after {
  display: none;
}
.ms-shoppage .form-control:not(:focus):hover,
.form-select:not(:focus):hover {
  border-color: #6ea8fe;
}
.ms-shoppage .input-spinner {
  max-width: 140px;
  flex-wrap: nowrap;
  display: inline-flex;
}
.ms-shoppage .input-spinner input.form-control {
  text-align: center;
  border-color: #dee2e6;
  padding-left: 3px;
  padding-right: 3px;
}
.ms-shoppage .input-spinner .btn {
  width: 42px;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ms-shoppage .checkbox-btn {
  position: relative;
}
.ms-shoppage .checkbox-btn input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ms-shoppage .checkbox-btn input:checked ~ .btn {
  border-color: #0d6efd;
  background-color: #e9ecef;
}
.ms-shoppage .box-check {
  position: relative;
  margin-right: 5px;
}
.ms-shoppage .box-check:hover:not(.active) {
  border-color: #6ea8fe;
}
.ms-shoppage .box-check .border-oncheck {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  border-radius: 0.35rem;
  z-index: 1;
  mix-blend-mode: darken;
}
.ms-shoppage .box-check input:checked ~ .border-oncheck {
  border-color: #0d6efd;
  background-color: rgba(231, 241, 255, 0.5);
}
.ms-shoppage .gallery-uploader-wrap .uploader-img {
  position: relative;
  display: inline-flex;
  width: 110px;
  height: 110px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  border: 1px dashed #ccd1d6;
  overflow: hidden;
  background-color: #f8f9fa;
}
.ms-shoppage .gallery-uploader-wrap .uploader-img:hover {
  border-color: #0d6efd;
  background-color: rgba(231, 241, 255, 0.5);
}
.ms-shoppage .gallery-uploader-wrap input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.ms-shoppage .gallery-uploader-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.ms-shoppage .done-wrap {
  text-align: center;
  margin-bottom: 30px;
}
.ms-shoppage .done-wrap img {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}
.ms-shoppage a.itemside {
  color: #51585e;
  text-decoration: none;
}
.ms-shoppage a.itemside:hover .title {
  color: #0d6efd;
}
.ms-shoppage a.itemside:hover .img-thumbnail {
  border-color: #9da1a7;
}
.ms-shoppage .itemside {
  position: relative;
  display: flex;
  width: 100%;
}
.ms-shoppage .itemside .aside {
  position: relative;
  flex-shrink: 0;
}
.ms-shoppage .itemside .aside .badge {
  position: absolute;
  top: -5px;
  right: -8px;
}
.ms-shoppage .itemside .info {
  padding-left: 0.75rem;
  flex-grow: 1;
}
.ms-shoppage .itemside .title {
  display: block;
  margin-bottom: 0rem;
}
.ms-shoppage .itemside a.title {
  color: inherit;
}
.ms-shoppage .itemside a.title:hover {
  color: #0d6efd;
}
.ms-shoppage .itemside p {
  margin-bottom: 0;
}
.ms-shoppage .items-bordered-wrap .itemside:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ms-shoppage .itemlist {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.ms-shoppage .list-inline {
  margin-bottom: 0;
}
.ms-shoppage .list-inline-item {
  vertical-align: middle;
}
.ms-shoppage dl[class="row"] {
  margin-bottom: 0;
}
.ms-shoppage dl[class="row"] dt {
  color: #212529;
}
.ms-shoppage [class*="dlist-"] {
  margin-bottom: 5px;
}
.ms-shoppage [class*="dlist-"] dd {
  margin-bottom: 0;
}
.ms-shoppage .dlist-inline dt,
.dlist-inline dd {
  display: inline-block;
}
.ms-shoppage .dlist-align {
  display: flex;
}
.ms-shoppage .dlist-align dt {
  width: 150px;
  word-wrap: break-word;
  font-weight: normal;
}
.ms-shoppage .dlist-align dd {
  flex-grow: 1;
}
.ms-shoppage ul.row {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.ms-shoppage .list-icon,
.list-bullet,
.list-dots,
.list-check,
.list-menu {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.ms-shoppage .list-icon li,
.list-bullet li,
.list-dots li,
.list-check li,
.list-menu li {
  position: relative;
  margin-bottom: 4px;
}
.ms-shoppage .list-icon li {
  padding-left: 30px;
}
.ms-shoppage .list-icon .icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 22px;
  text-align: center;
  color: #9da1a7;
}
.ms-shoppage .list-bullet li,
.list-dots li {
  padding-left: 20px;
}
.ms-shoppage .list-bullet li::before,
.list-dots li::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  border-radius: 100%;
  height: 7px;
  background: #ccd1d6;
}
.ms-shoppage .list-check > li {
  padding-left: 24px;
}
.ms-shoppage .list-check > li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 13px;
  color: #33b750;
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
}
.ms-shoppage .list-menu li > a {
  display: block;
  color: #51585e;
  text-decoration: none;
}
.ms-shoppage .list-menu li > a:hover {
  color: #0d6efd;
  text-decoration: underline;
}
.ms-shoppage .cols-two {
  -moz-column-count: 2;
  column-count: 2;
}
.ms-shoppage .cols-two > li {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.ms-shoppage .cols-three {
  -moz-column-count: 3;
  column-count: 3;
}
.ms-shoppage .cols-three > li {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.ms-shoppage .cols-four {
  -moz-column-count: 4;
  column-count: 4;
}
.ms-shoppage .cols-four > li {
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
@media (max-width: 768px) {
  .cols-two {
    -moz-column-count: 1;
    column-count: 1;
  }
  .ms-shoppage .cols-three {
    -moz-column-count: 2;
    column-count: 2;
  }
  .ms-shoppage .cols-four {
    -moz-column-count: 2;
    column-count: 2;
  }
}
.ms-shoppage .slider-banner-owl .owl-nav .owl-prev,
.slider-banner-owl .owl-nav .owl-next {
  padding: 16px 7px;
  color: #fff;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 9;
  position: absolute;
}
.ms-shoppage .slider-banner-owl .owl-nav .owl-prev {
  left: 0;
}
.ms-shoppage .slider-banner-owl .owl-nav .owl-next {
  right: 0;
}
.ms-shoppage .slider-banner-owl .item-slide img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ms-shoppage .slider-banner-slick .slick-prev,
.slider-banner-slick .slick-next {
  padding: 18px 7px;
  color: #fff;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 9;
  position: absolute;
}
.ms-shoppage .slider-banner-slick .slick-prev:before,
.slider-banner-slick .slick-next:before {
  display: none;
}
.ms-shoppage .slider-banner-slick .slick-prev {
  left: 0;
}
.ms-shoppage .slider-banner-slick .slick-next {
  right: 0;
}
.ms-shoppage .slider-banner-slick .item-slide img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.ms-shoppage .gallery-wrap .img-big-wrap {
  display: block;
  text-align: center;
  width: 100%;
  height: 560px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #fff;
}
.ms-shoppage .gallery-wrap .img-big-wrap a {
  text-align: center;
  display: block;
  height: 100%;
}
.ms-shoppage .gallery-wrap .img-big-wrap img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  cursor: zoom-in;
}
.ms-shoppage .gallery-wrap .thumbs-wrap {
  text-align: center;
}
.ms-shoppage .gallery-wrap .thumbs-wrap .item-thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #dee2e6;
  border-radius: 0.35rem;
  margin: 3px;
  display: inline-block;
  overflow: hidden;
}
.ms-shoppage .gallery-wrap .thumbs-wrap a.item-thumb:hover {
  border-color: #9da1a7;
}
.ms-shoppage .gallery-wrap .thumbs-wrap img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: zoom-in;
}
@media screen and (max-width: 1220px) {
  .home-section .btn-group {
    display: none;
  }
}
@media (min-width: 993px) {
  .gallery-vertical {
    display: flex;
  }
  .ms-shoppage .gallery-vertical .thumbs-wrap {
    order: 1;
    width: 60px;
    margin-right: 1rem;
  }
  .ms-shoppage .gallery-vertical .img-big-wrap {
    order: 2;
  }
}
.ms-shoppage .item-option-select {
  margin-bottom: 1rem;
  display: inline-block;
  margin-right: 15px;
}
.ms-shoppage .item-option-select .btn {
  min-width: 80px;
}
.ms-shoppage .table-shopping-cart.table td,
.table-shopping-cart.table th {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.ms-shoppage .table-shopping-cart .price-wrap {
  line-height: 1.2;
}
.ms-shoppage .table-shopping-cart .price {
  font-weight: bold;
  margin-right: 5px;
  display: block;
}
.ms-shoppage .mobile-block {
  display: none;
}
@media (max-width: 992px) {
  .card-product-grid .img-wrap {
    height: 200px;
  }
  .ms-shoppage .card-product-list {
    margin-bottom: 20px;
  }
  .ms-shoppage .card-product-list .img-wrap {
    border-bottom: 1px solid #dee2e6;
  }
}
